body{
    background:blue;
    color: #ADD8E6;
    margin: 150px;
}
p{
    color: #000000;
}
.noun{
    font-weight: 900;
    color: black;
}
p.noun{
    color:white;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}
